<div class="row">
    {{#each viewers as |viewer|}}
    <div class="col-xs-12">
        <div>ViewerId: {{viewer.viewerId}}</div>
        <div>Number of Views: {{viewer.views}}</div>
    </div>
    {{/each}}
</div>