<div class="row">

    <form action="/users" method="get">

              <!-- User Profile Gender -->
      <div class="form-group">
        <label>Gender</label>
        <div class="radio">
          <label>
            <input type="radio" value="male" name="form[gender]"> Male
          </label>
          <label>
            <input type="radio" value="female" name="form[gender]"> Female
          </label>
          <label>
            <input type="radio" value="pterodactyl" name="form[gender]"> Pterodactyl
          </label>
        </div>
      </div>
      <!-- User Age -->
      <div class="form-group">
        <label for="minAge">Minimum Age</label>
        <input type="number" class="form-control" name="form[minAge]" id="minAge" min="13" max="120">
      </div>
      <div class="form-group">
        <label for="maxAge">Maximum Age</label>
        <input type="number" class="form-control" name="form[maxAge]" id="maxAge" min="13" max="120">
      </div>

      <!-- Marital Status -->
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="form[marital][]" type="checkbox" value="single">
          Single and ready to mingle
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="form[marital][]" type="checkbox" value="dating">
          Dating
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="form[marital][]" type="checkbox" value="married">
          Married
        </label>
      </div>

    <button type="submit" class="btn btn-info">Get those honeys</button>
    </form>
</div>
