<div class="row">

    <form action="/users" method="get">

              <!-- User Profile Gender -->
      <div class="form-group">
        <label>Gender</label>
        <div class="radio">
          <label>
            <input type="radio" value="m" name="user[profile][gender]"checked="checked"> Male
          </label>
          <label>
            <input type="radio" value="f" name="user[profile][gender]"> Female
          </label>
        </div>
      </div>
      <!-- User Age -->


    </form>

</div>