<div class="row">
  {{#each users as |user|}}
    <div class="col-xs-4">
      <div class="user-image">
        <img src="{{ userImage user }}">
      </div>
      <div>
        {{ user.fullName }}
      </div>
    </div>
  {{/each}}
</div>
